/** Font import **/
@font-face {
  font-family: "Godo";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2") format("woff2"),
       url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff") format("woff");
}
@font-face {
  font-family: "Godo";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2") format("woff2"),
       url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff") format("woff");
}

/** Init **/
*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  border: none;
  outline: none;
  background: none;

  color: inherit;
  font: inherit;
  text-decoration: inherit;
}
@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}
/* Root */
html {
  font-family: "Godo";
}

/** App header **/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 64px;

  background-color: #fff;
}
header > .brand {
  display: flex;
  align-items: center;

  margin-left: 40px;
}
header > .brand > .title {
  margin-left: 16px;

  font-size: 24px;
}
/* Navigation */
nav {
  display: flex;
  height: 100%;
}
nav > .nav-item {
  display: flex;
  align-items: center;

  height: 100%;
  margin-right: 30px;
  padding: 0 10px;
}
/* Medium size */
@media screen and (max-width: 768px) {
  header > .brand {
    margin-left: 30px;
  }
  nav > .nav-item {
    margin-right: 20px;
  }
}
/* Small size */
@media screen and (max-width: 425px) {
  header > .brand {
    margin-left: 20px;
  }
  header > .brand > .logo {
    height: 32px;
  }
  header > .brand > .title {
    margin-left: 8px;
    font-size: 18px;
  }
  nav {
    margin-right: 10px;
  }
  nav > .nav-item {
    margin-right: 0;
  }
}

/** Banner **/
#banner {
  position: relative;

  height: 800px;

  background-color: #f48a42;
  background-image: url("/assets/images/hide-orange.svg");
  background-repeat: no-repeat;
  background-position: bottom 32px right 32px;
  background-size: 20% 20%;
}
#banner > .moon {
  position: absolute;
  bottom: 64px;
  left: 64px;

  width: 50%;
  max-width: 550px;

  object-position: left bottom;
}
#banner > .contents {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 120px;
  right: 64px;

  width: 75%;
  max-width: 660px;
}
#banner h1 {
  font-size: 48px;
  font-weight: 700;
}
#banner hr {
  height: 5px;

  margin: 12px 100px;

  border-radius: 5px;
  background-color: #000;
}
#banner .desc {
  margin-left: auto;
  font-size: 36px;
}
/* Medium size */
@media screen and (max-width: 768px) {
  #banner {
    height: 450px;
  }
  #banner > .moon {
    bottom: 48px;
    left: 32px;
  }
  #banner > .contents {
    top: 64px;
    right: 32px;

    width: 50%;
    min-width: 320px;
  }
  #banner h1 {
    font-size: 32px;
  }
  #banner hr {
    height: 3px;
    margin: 8px 64px;
  }
  #banner .desc {
    font-size: 22px;
  }
}
/* Small size */
@media screen and (max-width: 425px) {
  #banner {
    height: 240px;

    background-image: url("/assets/images/hide-orange-flip.svg");
    background-repeat: no-repeat;
    background-position: bottom 24px left 24px;
    background-size: unset;
  }
  #banner > .moon {
    display: none;
  }
  #banner > .contents {
    top: 42px;
    right: 24px;
  }
  #banner h1 {
    margin-bottom: 8px;

    font-size: 28px;
    text-align: right;
  }
  #banner hr {
    display: none;
  }
  #banner .desc {
    font-size: 14px;
  }
}

/** Profiles **/
#profiles {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: 200px;
  margin-bottom: 300px;
}
#profiles > img {
  margin-bottom: 48px;
}
#profiles > h2 {
  margin-bottom: 16px;
  font-size: 48px;
}
#profiles > .palette {
  display: flex;
}
#profiles > .palette > .color {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 18px;
}
#profiles > .palette > .color:not(:last-child) {
  margin-right: 16px;
}
#profiles > .palette > .color::before {
  content: "";

  display: block;

  width: 72px;
  height: 72px;
  margin-bottom: 12px;

  border: 5px solid #000;
  border-radius: 36px;
}
#profiles > .palette > .color.pink::before {
  background-color: #f4628f;
}
#profiles > .palette > .color.green::before {
  background-color: #5ab129;
}
/* Medium size */
@media screen and (max-width: 768px) {
  #profiles {
    margin: 160px 0;
  }
  #profiles > img {
    width: 330px;
    margin-bottom: 40px;
  }
  #profiles > h2 {
    font-size: 36px;
  }
  #profiles > .palette > .color {
    font-size: 16px;
  }
  #profiles > .palette > .color:not(:last-child) {
    margin-right: 4px;
  }
  #profiles > .palette > .color::before {
    width: 55px;
    height: 55px;

    border-width: 3px;
  }
}
/* Small size */
@media screen and (max-width: 425px) {
  #profiles {
    margin: 72px 0;
  }
  #profiles > img {
    width: 180px;
  }
  #profiles > h2 {
    margin-bottom: 8px;
    font-size: 26px;
  }
  #profiles > .palette > .color {
    font-size: 12px;
  }
  #profiles > .palette > .color::before {
    width: 32px;
    height: 32px;

    border-width: 2px;
  }
}

/** Article title **/
.carrot-title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 48px;
  font-weight: 700;
}
.carrot-title::before,
.carrot-title::after {
  content: "";
  display: block;

  width: 145px;
  height: 59px;

  background-size: contain;
}
.carrot-title::before {
  margin-right: 32px;
  background-image: url("/assets/images/carrot.svg");
}
.carrot-title::after {
  margin-left: 32px;
  background-image: url("/assets/images/carrot-flip.svg");
}
/* Medium size */
@media screen and (max-width: 768px) {
  .carrot-title {
    font-size: 36px;
  }
  .carrot-title::before,
  .carrot-title::after {
    width: 98px;
    height: 40px;
  }
}
/* Small size */
@media screen and (max-width: 425px) {
  .carrot-title {
    font-size: 24px;
  }
  .carrot-title::before,
  .carrot-title::after {
    width: 71px;
    height: 29px;
  }
  .carrot-title::before {
    margin-right: 16px;
  }
  .carrot-title::after {
    margin-left: 16px;
  }
}

/** Introduce **/
#intro {
  margin-bottom: 320px;
}
#intro > .carrot-title {
  margin-bottom: 200px;
}
#intro > .group {
  display: flex;
  justify-content: center;

  font-size: 36px;
}
#intro > .group:not(:last-child) {
  margin-bottom: 24px;
}
#intro > .character > .image {
  margin-right: 64px;
}
#intro > .character > .paragraph {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}
#intro > .design > .image {
  margin-left: 12px;
}
#intro > .design > .paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#intro > .footer {
  margin-top: 64px;
  font-size: 32px;
  text-align: center;
}
/* Large size */
@media screen and (max-width: 1024px) {
  #intro > .carrot-title {
    margin-bottom: 72px;
  }
  #intro > .group {
    font-size: 22px;
  }
  #intro > .group > .image {
    width: 256px;
  }
  #intro > .character > .image {
    margin-right: 32px;
  }
  #intro > .footer {
    font-size: 20px;
  }
}
/* Medium size */
@media screen and (max-width: 768px) {
  #intro {
    margin-bottom: 160px;
  }
  #intro > .group {
    font-size: 16px;
  }
  #intro > .group > .image {
    width: 140px;
  }
}
/* Small size */
@media screen and (max-width: 425px) {
  #intro > .group {
    width: 100%;
    padding: 0 24px;
    font-size: 12px;
  }
  #intro > .group > .image {
    max-width: 140px;
    flex-grow: 1;
    flex-shrink: 1;
  }
  #intro > .footer {
    font-size: 14px;
  }
}

/** Illust **/
#illust {
  margin-bottom: 256px;
}
#illust > .carrot-title {
  margin-bottom: 64px;
}
#illust > .paragraph {
  margin-bottom: 128px;

  font-size: 36px;
  line-height: 1.75em;
  text-align: center;
}
#illust > .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;

  width: 100%;
  padding: 0 40px;
}
#illust > .gallery > .item {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#illust > .gallery > .item > .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#illust > .gallery > .width-2 {
  grid-column: span 2;
}
#illust > .gallery > .height-2 {
  grid-row: span 2;
}
/* Large size */
@media screen and (max-width: 1024px) {
  #illust {
    margin-bottom: 128px;
  }
  #illust > .paragraph {
    margin-bottom: 96px;

    font-size: 28px;
  }
}
/* Medium size */
@media screen and (max-width: 768px) {
  #illust > .paragraph {
    margin-bottom: 64px;
    font-size: 18px;
  }
  #illust > .gallery {
    gap: 12px;
    padding: 0 24px;
  }
}
/* Small size */
@media screen and (max-width: 425px) {
  #illust > .carrot-title {
    margin-bottom: 32px;
  }
  #illust > .paragraph {
    margin-bottom: 32px;
    font-size: 14px;
  }
  #illust > .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);

    padding: 0 16px;
  }
}

/** Goods **/
#goods {
  margin-bottom: 160px;
}
#goods > .carrot-title {
  margin-bottom: 48px;
}
#goods > .paragraph {
  margin-bottom: 92px;

  font-size: 36px;
  line-height: 1.75em;
  text-align: center;
}
#goods > .glide .glide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 34px;
}
#goods > .glide .glide__slide > .image {
  width: 100%;
  margin-bottom: 24px;
  object-fit: cover;
}
/* Large size */
@media screen and (max-width: 1024px) {
  #goods > .paragraph {
    font-size: 28px;
  }
}
/* Medium size */
@media screen and (max-width: 768px) {
  #goods {
    margin-bottom: 64px;
  }
  #goods > .paragraph {
    font-size: 18px;
  }
  #goods > .glide .glide__slide {
    font-size: 22px;
  }
}
/* Small size */
@media screen and (max-width: 425px) {
  #goods > .paragraph {
    margin-bottom: 48px;
    font-size: 14px;
  }
  #goods > .glide .glide__slide {
    font-size: 14px;
  }
}

/** Information **/
#info {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 128px;
}
#info > .image {
  margin-right: 24px;
}
#info > .desc {
  font-size: 24px;
}
#info > .desc > .title {
  margin-bottom: 16px;

  font-size: 36px;
  font-weight: 700;
}
#info > .desc > .paragraph {
  margin-bottom: 16px;
  line-height: 1.75em;
}
#info > .desc > .social {
  padding-left: 24px;
}
#info > .desc > .button {
  display: block;

  width: fit-content;
  margin-top: 32px;
  margin-left: auto;
  padding: 14px 32px;

  border: 3px solid #000;
  border-radius: 128px;

  font-size: 18px;
}
#info > .desc > .button:hover {
  border-color: #f48a42;
  background-color: #f48a42;

  color: #fff;
}
/* Medium size */
@media screen and (max-width: 768px) {
  #info > .image {
    max-width: 220px;
  }
  #info > .desc > .title {
    font-size: 24px;
  }
  #info > .desc > .paragraph,
  #info > .desc > .social {
    font-size: 20px;
  }
}
/* Change direction */
@media screen and (max-width: 600px) {
  #info {
    flex-direction: column;
  }
  #info > .image {
    width: 128px;

    margin-right: 0;
    margin-bottom: 32px;
  }
  #info > .desc {
    text-align: center;
  }
  #info > .desc > .social {
    padding-left: 0;
  }
  #info > .desc > .button {
    margin-right: auto;
    padding: 10px 24px;

    border-width: 2px;

    font-size: 14px;
  }
}

/** Footer **/
#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px;

  background-color: #f48a42;
}
#footer > .left > .brand {
  display: flex;
  align-items: center;

  margin-bottom: 16px;
}
#footer > .left > .brand > .name {
  margin-left: 16px;

  font-size: 24px;
}
#footer > .right > .link-list {
  display: flex;
}
#footer > .right > .link-list > .link {
  display: flex;
}
#footer > .right > .link-list > .link:not(:last-child) {
  margin-right: 24px;
}
@media screen and (max-width: 768px) {
  #footer > .right > .link-list > .link:not(:last-child) {
    margin-right: 16px;
  }
}
/* Small size */
@media screen and (max-width: 425px) {
  #footer {
    flex-direction: column;
    align-items: center;

    padding: 52px 0;
    border-radius: 48px 48px 0 0;
  }
  #footer > .left {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 64px;
  }
  #footer > .left > .brand {
    width: fit-content;
  }
}
